@use "vars" as *;
@use "contacts";

html {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

a {
    color: $secondary !important;
}

#body {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70%;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background: $secondary;
}

body {
    width: 100%;
}

.text-p {
    color: $primary;
}
.text-s {
    color: $secondary;
}
.text-t {
    color: $tertiary;
}

.title {
    font-size: 3em;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    padding: 25px;
    margin-bottom: 2em;
    border-radius: 2rem;

    background-color: $tertiary;
    font-size: 1em;
}

.button {
    width: fit-content;
    padding: 0.25em 1em;

    border: none;
    border-radius: $input-br;

    background-color: $secondary;
    color: $primary;
    transition: all $bg-trans ease;
    font-size: 1.25em;

    &:hover {
        background-color: $primary;
        color: $secondary;
    }

    &.inverse {
        background-color: $primary;
        color: $secondary;

        &:hover {
            background-color: $tertiary;
            color: $secondary;
        }
    }
}
.input-large {
    font-size: 1.5em;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 1.5em;
        width: 1.5em;

        background-color: $primary;
        color: $secondary;

        border-radius: $input-br 0 0 $input-br;
    }

    input {
        flex: 1;
        padding: 0 0.5em;

        border: none;
        border-radius: 0 $input-br $input-br 0;
        background: $secondary;
        color: $primary;

        &::placeholder {
            color: $tertiary;
        }
        &:focus {
            outline: none;
        }
        &.sharp { 
            border-radius: 0;
        }
        &.round {
            border-radius: $input-br;
        }
    }
}

#register-result,
#login-result {
    color: red;
}
