:root {
  --primary: #000;
  --secondary: #fff;
  --tertiary: #ccc;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

#body {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 70%;

  background: var(--secondary);
}

.title {
  font-size: 3em;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: var(--primary);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  padding: 25px;
  border-radius: 10px;

  background-color: var(--tertiary);
  font-size: 1em;
}

.button {
  font-size: 1.5em;
  border-radius: 25px;
  width: fit-content;
  padding: 0.25em 1em;
  font-family: "Ubuntu", sans-serif;
}

.button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.input {
  position: relative;
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  font-size: 1.5em;

  border: 1px solid var(--primary);
}

.input .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  height: 1.5em;
  width: 1.5em;
  color: var(--tertiary);
}

.input input {
  padding: 0 0.5em;
  flex: 1;
  border: none;
  height: 1.5em;
}

.input input:focus {
  outline: none;
}

select {
  width: 30%;
  margin-left: 35%;
  margin-top: 2%;
  font-size: 0.75em;
  font-family: "Ubuntu", sans-serif;
}
