:root {
    --primary: #0e3b43;
    --secondary: #dce5e0;
    --tertiary: #357266;
    --input-br: 0.5em;
    --bg-trans: 0.2s;
}

$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$input-br: var(--input-br);
$bg-trans: var(--bg-trans);