{
    "overrides": [
        {
            "files": ["*.html", "*.css"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "tabWidth": 4,
    "useTabs": false
}
